---
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: true
AlignConsecutiveBitFields:
  Enabled: true
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
AlignTrailingComments:
  OverEmptyLines: 2
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: false
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBraces: Custom
BreakBeforeConceptDeclarations: Allowed
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 8
BreakInheritanceList: AfterColon
BreakTemplateDeclarations: Yes
Cpp11BracedListStyle: false
ColumnLimit: 0
DerivePointerAlignment: true
ExperimentalAutoDetectBinPacking: true
IncludeBlocks: Regroup
IndentCaseLabels: true
IndentWidth: 4
IndentWrappedFunctionNames: true
InsertNewlineAtEOF: true
IntegerLiteralSeparator:
  Binary: 4
  Decimal: 3
  Hex: 2
KeepEmptyLines:
  AtStartOfBlock: false
  AtStartOfFile: false
NamespaceIndentation: All
PackConstructorInitializers: NextLine
PointerAlignment: Left
RemoveSemicolon: true
SpaceAfterTemplateKeyword: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterForeachMacros: false
  AfterIfMacros: false
SpaceBeforeRangeBasedForLoopColon: false
Language: Cpp
