Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
BreakTemplateDeclarations: Yes
BreakBeforeBraces: Allman
ColumnLimit: 120
SpaceAfterTemplateKeyword: false
TabWidth: 4
IndentWidth: 4
UseTab: Never
AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IndentRequiresClause: true
IncludeCategories:
  # Headers in <> with .h extension.
  - Regex: '<([A-Za-z0-9\/-_])+\.h>'
    Priority: 10
  # Headers in <> with .hpp extension.
  - Regex: '<([A-Za-z0-9\/-_])+\.hpp>'
    Priority: 20
  # Headers in <> without extension.
  - Regex: '<([A-Za-z0-9\/-_])+>'
    Priority: 30
PointerAlignment: Left
QualifierAlignment: Leave
BinPackArguments: false
BinPackParameters: false
AllowAllConstructorInitializersOnNextLine: false
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyBreakAssignment: 1000
#AlignAfterOpenBracket: Align
BreakBeforeBinaryOperators: None
AllowAllArgumentsOnNextLine: false
AlignAfterOpenBracket: AlwaysBreak

