---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
BreakTemplateDeclarations: Yes
BreakBeforeBraces: Allman
ColumnLimit: 120
SpaceAfterTemplateKeyword: false
TabWidth: 4
IndentWidth: 4
UseTab: Never
AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
IndentRequiresClause: true
IncludeCategories:
  # Headers in <> with .h extension.
  - Regex: '<([A-Za-z0-9\/-_])+\.h>'
    Priority: 10
  # Headers in <> with .hpp extension.
  - Regex: '<([A-Za-z0-9\/-_])+\.hpp>'
    Priority: 20
  # Headers in <> without extension.
  - Regex: '<([A-Za-z0-9\/-_])+>'
    Priority: 30
PointerAlignment: Left
QualifierAlignment: Leave
